<?php
        // Make a mysql connection
        function Connection() {
                $uri = "localhost";
                $usr = "meetjestad_usr";
                $pwd = "";
                $db = "meetjestad_db";

                $database = new mysqli($uri, $usr, $pwd, $db);
                if ($database->connect_errno) die('MySQL ERROR: '.$database->connect_error);
                else return $database;
        }
?>
