Options -MultiViews
RewriteEngine On

RewriteRule css/(.*) css/$1 [L]
RewriteRule img/(.*) img/$1 [L]
RewriteRule js/(.*) js/$1 [L]

RewriteRule series.php$ series.php [L]
RewriteRule health.php$ health.php [L]
RewriteRule list.html$ list.html [L]
RewriteRule ^(.*)$ index.php [L]
