Options -MultiViews
RewriteEngine On

RewriteRule css/(.*) css/$1 [L]
RewriteRule img/(.*) img/$1 [L]
RewriteRule js/(.*) js/$1 [L]

RewriteRule ^loading.svg$ loading.svg [L]
RewriteRule ^loading.apng$ loading.apng [L]
RewriteRule ^series.php$ series.php [L]
RewriteRule ^health.php$ health.php [L]
RewriteRule ^list.html$ list.html [L]
RewriteRule ^bad.html$ bad.html [L]
RewriteRule ^index.php$ index.php [L]
RewriteRule ^.*$ node.php [L]
